
  <%- include("partials/formheader"); -%>
      <form class="auth-form" action="/" method="POST" autocomplete="off">
       
        
        <div class="auth">
            
            <div class="h3"><h3>LOGIN</h3></div>
            <div class="auth-button">
                <a href="/auth/google" role="button">
                    <i class="fab fa-google"></i>
                    &nbsp Login
                </a>
            </div>
            <div class="or">
                <span>OR</span>
            </div>
            <% if( typeof errors != 'undefined' ){ %>
              <% errors.forEach(function(error){ %>
              <p><%= error.msg %></p>
              <% }); %>
              <% } %>
            <input type="email" name="username" placeholder="Email Address">
            <input type="password" name="password" placeholder="Password">
          </div>
        <button type="submit" class="auth-button">Login</button>
        <p class="signup">Not a user?  <a style="text-decoration: underline; "  href="/register">Sign up</a></p>
        <p class="signup">  <a style="text-decoration: underline;"  href="/forgot">Forgot/Change Password?</a></p>
     
    </form>
    
    </nav>
    
  
  <%- include("partials/footer"); %>



